:root {
    --primary-blue: #76c2f1a7;
    --primary-blue-button: #5f99bda8;
    --secondary-blue-button: #5f99bdfa;
    --color-black: #171719;
    --color-red: #e63946;
}

body {
    margin: 0;
    padding-top: 30px;
    background-color: #ededed;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

#container {
    width: 700px;
    height: 700px;
    box-sizing: border-box;
    display: grid;
    border: 2px solid var(--primary-blue);
    border-radius: 12px;
}

.cell {
    border: 1px solid #76c2f12e;
    padding: 1px;
}

#button-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 30px;
    background-color: var(--primary-blue);
    border-radius: 12px;
}

.button-settings {
    border-radius: 12px;
    border: none;
    padding: 8px 10px;
    background-color: var(--primary-blue-button);
    color: white;
    font-weight: 900;
}

.button-settings:hover {
    background-color: var(--secondary-blue-button);
}

#solid-color-container {
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
}

#solid-color {
    flex: 1;
}

#color-selector {
    background-color: transparent;
    border: none;
}

#color-selector:hover {
    background-color: var(--secondary-blue-button);
}

